@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj w wypożyczalni sprzętu sportowego!</h1>
    <p>
        Ten projekt został wykonany przez <strong>Kacpra Frąckowiaka</strong>.
    </p>
    <p>
        Po zalogowaniu możesz wypożyczyć sprzęt dodany przez administratorów. W celach demonstracyjnych
        możesz utworzyć konto administratora, zaznaczając odpowiedni checkbox podczas rejestracji.
    </p>
</div>
