@model SportEquipmentRent.Models.Renting

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1>

<h3>Jesteś pewien,że chcesz usunąć wypożyczenie? </h3>
<div>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.End)</th>
                <th>@Html.DisplayNameFor(model => model.SportEquipment.Name)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.End)</td>
                <td>@Html.DisplayFor(model => model.SportEquipment.Name)</td>
            </tr>
        </tbody>
    </table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> 
        <a class="btn btn-outline-secondary" asp-action="Index">Powrót do listy</a>
    </form>
</div>
