@model SportEquipmentRent.Models.Renting

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Sesja wynajmu</h4>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.End)</th>
                <th>@Html.DisplayNameFor(model => model.SportEquipment.Name)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.End)</td>
                <td>@Html.DisplayFor(model => model.SportEquipment.Name)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a>
    <a class="btn btn-outline-secondary" asp-action="Index">Powrót do listy</a>
</div>
